.pd0 {
  padding: 0;
}
.ma0 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-appearance: none;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-overflow-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.text-overflow-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.animate-flash {
  -webkit-animation-name: flash;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  -webkit-animation-direction: alternate;
}
#loading {
  background-color: #17607d;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  margin-top: 0px;
  top: 0px;
}
#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.object {
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #FFF;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #FFF;
  border-right: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
}
#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}
#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@-webkit-keyframes animate {
  50% {
    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }
}
@keyframes animate {
  50% {
    -ms-transform: rotate(360deg) scale(0.8);
    -webkit-transform: rotate(360deg) scale(0.8);
    transform: rotate(360deg) scale(0.8);
  }
}
/*input {*/
  /*border: 1px solid #ccc;*/
  /*padding: 7px 0px;*/
  /*border-radius: 3px;*/
  /*padding-left: 5px;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;*/
  /*-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
  /*transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
/*}*/
/*input:focus {*/
  /*border-color: #66afe9;*/
  /*outline: 0;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
/*}*/
